mat-horizontal-stepper {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}

.submission-step-card-container {
    width: 100%;
    max-width: 1160px;
}

mat-card>:first-child.submission-step-card-header {
    margin: -16px -16px 0px -16px;
}

mat-card.submission-step-card {
    margin-top: 24px;
}

.submission-step-card-header {
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
}

.submission-step-card-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submission-step-card-content-container > * {
  width: 100%;
  padding: 8px;
}

.submission-step-card-content-container > form > mat-form-field {
    width: 100%;
    max-width: 600px;
}

.big-text {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.medium-text {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}