<mat-horizontal-stepper
  [linear]="true"
  [disableRipple]="false"
  labelPosition="bottom"
  #stepper
>
  <mat-step [stepControl]="submissionCodeFormGroup">
    <ng-template matStepLabel>Unique Submission Code</ng-template>
    <div class="submission-step-card-container">
      <mat-card class="submission-step-card">
        <mat-card-title class="submission-step-card-header"
          >Poster Submission Code</mat-card-title
        >
        <mat-card-content class="submission-step-card-content-container">
          <form [formGroup]="submissionCodeFormGroup">
            <p class="instructions">
              Enter the <strong>Poster Submission Code</strong> which
              corresponds to the Poster you are submitting.<br />
              The Poster Submission Code has been sent to you by email.
            </p>
            <mat-form-field appearance="fill">
              <mat-label>Poster Submission Code</mat-label>
              <input
                matInput
                placeholder="rc2019.xyz123"
                formControlName="submissionCodeCtrl"
                required
              />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-button matStepperNext (click)="getSubmission()">
              Next
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-step>

  <mat-step>
    <form [formGroup]="uploadFileFormGroup">
      <ng-template matStepLabel>Title & Authors</ng-template>
      <div
        class="submission-step-card-container"
        *ngIf="submission$ | async as sub"
      >
        <mat-card class="submission-step-card">
          <mat-card-title class="submission-step-card-header"
            >Poster Title</mat-card-title
          >
          <mat-card-content class="submission-step-card-content-container">
            <div class="big-text">
              {{ sub.abstract_title }}
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="submission-step-card">
          <mat-card-title class="submission-step-card-header"
            >Authors
          </mat-card-title>
          <mat-card-content class="submission-step-card-content-container">
            <div class="medium-text">
              {{ sub.firstname }} {{ sub.lastname }}
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="completeStep(2)">Next</button>
      </div>
    </form>
  </mat-step> 
  <!-- EOF: second step -->
  <mat-step>
    <ng-template matStepLabel>File Upload</ng-template>
    <mat-card class="submission-step-card">
      <mat-card-title class="submission-step-card-header"
        >Upload your Poster</mat-card-title
      >
      <mat-card-content class="submission-step-card-content-container">
        <div class="big-text">
          <app-upload></app-upload>

        </div>
      </mat-card-content>
    </mat-card>
    <div>
      <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="completeStep(3)">Next</button>
    </div>
  </mat-step>
  <!-- EOF: third step -->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-card class="submission-step-card">
        <mat-card-title class="submission-step-card-header"
          >Submission successful!</mat-card-title
        >
        <mat-card-content class="submission-step-card-content-container">
          <div class="">
            You successfully submitted your ePoster
          </div>
        </mat-card-content>
      </mat-card>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
